<div class="calendar">
        <div class="header">
            <div class="button-header" (click)="clickChangeMonth(-1)">
                <mat-icon >chevron_left</mat-icon>
                <span >Anterior</span>
            </div>

       
        <span style="padding: 5px">{{ monthYear }}</span>
        <div class="button-header" (click)="clickChangeMonth(1)">
            <span>Siguiente</span>
            <mat-icon >chevron_right</mat-icon>
        </div>
    </div>
    <div class="days">
        <div class="day">Lun</div>
        <div class="day">Mar</div>
        <div class="day">Mié</div>
        <div class="day">Jue</div>
        <div class="day">Vie</div>
        <div class="day">Sáb</div>
        <div class="day">Dom</div>

    </div>
    <div class="dates">
        <div *ngFor="let date of calendarDates" class="date" [Dia]="date.Dia" [selectDay]="selectDay">{{ date.date }}</div>
    </div>
</div>