mat-tab-group {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10; /* Garante que as abas fiquem acima do conteúdo */
  }
  .toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10; /* Garante que as abas fiquem acima do conteúdo */
  }

  .conteudo { /* Substitua .conteudo pelo seletor do seu elemento de conteúdo */
    padding-bottom: 64px; /* Ajuste o valor de acordo com a altura do mat-tab */
  }

  mat-drawer-content{
    overflow-y: auto;
    height: calc(100vh - 64px); /* Altura da tela menos a altura do mat-tab */

  }

  .example-spacer {
    flex: 1 1 auto;
  }
  .tema-dark {
    background-color: #282A36;
    color: #F8F8F2;
  }
  .dark{
    background-color:  #44475A;
  }

  