.venv
.venv/*
api/__pycache__
api/__pycache__/*
api/migrations/
api/migrations/*
api/__pycache__/
api/__pycache__/*
api/migrations/
api/migrations/*
api_clima/__pycache__/
api_clima/__pycache__/
api/Models/__pycache__/
api/Models/__pycache__/*
api/Views/__pycache__/
api/Views/__pycache__/*
api/Serializers/__pycache__/
api/Serializers/__pycache__/*
interceptor/helpers/__pycache__/
interceptor/helpers/__pycache__/*
interceptor/interfaces/__pycache__/
interceptor/interfaces/__pycache__/*
interceptor/__pycache__/
interceptor/__pycache__/*
dist
dist/*
.angular
.angular/*
frontend/node_modules/
frontend/node_modules/*
migrations
.env
.env/*
app/_models/__pycache__
app/__pycache__
app/_view/__pycache__
app/routers/__pycache__

_api/app/_models/__pycache__
_api/app/_schemas/__pycache__
_api/app/_view/__pycache__
_api/app/interceptor/__pycache__
_api/app/interceptor/helpers/__pycache__
_api/app/interceptor/interfaces/__pycache__
_api/app/routers/__pycache__
frontend/"/home/adriana/Proyectos/api-clima/frontend/DevProfile"/AutofillStates/2024.7.12.235938/IR
_api/app/__pycache__/
_api/app/__pycache__/*
_api/app/routers/__pycache__/
_api/app/routers/__pycache__/*
_api/.environment
_api/app/_view/auth/example.md
_api/app/_view/auth/__pycache__/auth.cpython-311.pyc
_api/app/_view/auth/__pycache__/oauth2_google.cpython-311.pyc
_api/sql_app.db
_api/app/_view/auth/__pycache__/*
