api/.venv
api/.venv/*
_api/.venv/
_api/.venv/*
api/api/__pycache__
api/api/__pycache__/*
api/api/migrations/
api/api/migrations/*
api/api/__pycache__/
api/api/__pycache__/*
api/api/migrations/
api/api/migrations/*
api/api_clima/__pycache__/
api/api_clima/__pycache__/
api/api/Models/__pycache__/
api/api/Models/__pycache__/*
api/api/Views/__pycache__/
api/api/Views/__pycache__/*
api/api/Serializers/__pycache__/
api/api/Serializers/__pycache__/*
api/interceptor/helpers/__pycache__/
api/interceptor/helpers/__pycache__/*
api/interceptor/interfaces/__pycache__/
api/interceptor/interfaces/__pycache__/*
api/interceptor/__pycache__/
api/interceptor/__pycache__/*
frontend/node_modules/
frontend/node_modules/*
migrations
.env
.env/*
app/_models/__pycache__
app/__pycache__
app/_view/__pycache__
app/routers/__pycache__

_api/app/_models/__pycache__
_api/app/_schemas/__pycache__
_api/app/_view/__pycache__
_api/app/interceptor/__pycache__
_api/app/interceptor/helpers/__pycache__
_api/app/interceptor/interfaces/__pycache__