.venv
.venv/*
api/__pycache__
api/__pycache__/*
api/migrations/
api/migrations/*
api/__pycache__/
api/__pycache__/*
api/migrations/
api/migrations/*
api_clima/__pycache__/
api_clima/__pycache__/
api/Models/__pycache__/
api/Models/__pycache__/*
api/Views/__pycache__/
api/Views/__pycache__/*
api/Serializers/__pycache__/
api/Serializers/__pycache__/*
interceptor/helpers/__pycache__/
interceptor/helpers/__pycache__/*
interceptor/interfaces/__pycache__/
interceptor/interfaces/__pycache__/*
interceptor/__pycache__/
interceptor/__pycache__/*
