.body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('../../../assets/imagen/fondo.png') no-repeat center center fixed;
  background-size: cover;
}
mat-form-field{
  width: 100%;
}
.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.register-box {
  background: rgba(255, 255, 255, 0.9);
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
  max-width: 900px;
  overflow: hidden;
  flex-direction: column;
}
.register-left, .register-right {
  flex: 1;
  padding: 40px;
}
.register-left {
  background: #fff;
}
.register-left h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}
.social-register {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.social-register a {
  margin: 0 10px;
  font-size: 24px;
  color: #333;
}
.social-register a:hover {
  color: #555;
}
.register-left form {
  display: flex;
  flex-direction: column;
}
.register-left input[type="text"],
.register-left input[type="email"],
.register-left input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.register-left a {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 20px;
}
.register-left a:hover {
  text-decoration: underline;
}
.register-left button {
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.register-left button:hover {
  background: #555;
}
.register-right {
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-right h2 {
  margin-bottom: 20px;
  font-size: 24px;
}
.register-right p {
  margin-bottom: 20px;
}
.register-right button {
  padding: 10px 20px;
  background: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.register-right button:hover {
  background: #ddd;
}
@media (min-width: 768px) {
  .register-box {
      flex-direction: row;
  }
}