<div class="body">
  <div class="container">
    <div class="register-box">
        <div class="register-left">
            <h2>Crear una cuenta</h2>
            <div class="social-register">
              <mat-icon class="fa-brands fa-facebook-f">facebook</mat-icon>
              <mat-icon svgIcon="google"></mat-icon>
            </div>
            <p>O registrarse con:</p>
            <form  class="form" (ngSubmit)="register()" [formGroup]="formulario">
                <input matInput id="nome" type="text" placeholder="Nombre completo" formControlName="nome">
                
                <input matInput type="email" id="email" placeholder="Correo electrónico" formControlName="email">
                <!-- @if (email.invalid) {
                  <mat-error>{{errorMessage()}}</mat-error>
                } -->
                <input matInput type="password" placeholder="Contraseña" id="contrasena" formControlName="contrasena">
                <input matInput type="password" placeholder="Confirmar contraseña" id="contrasena" formControlName="confirmContrasena">
                <button type="submit">REGISTRARME</button>
            </form>
        </div>
        <div class="register-right">
            <h2>Bienvenido!</h2>
            <p>Ya tienes una cuenta? Inicia sesión para continuar</p>
            <button (click)="btnEntrar()">INICIAR SESIÓN</button>
        </div>
    </div>
  </div> 
</div>