<div class="body">
    <mat-icon (click)="moverCards(-1)">chevron_left</mat-icon>

    <div class="container" #calendarContainer id="weatherContainer">
        @for(day of weatherData; track day.name){

        <div class="weather-card"
            [style]="day.today?{'background-color': 'rgba(0, 71, 102, 0.2)', 'border': '1px solid #2e3d49'}:{}">
            <div>
                {{ day.name }}
                <div style="font-size: small; color: grey;">
                    {{ day.data.getDate() +' ' + day.month }}
                </div>
            </div>
            <div style="font-size: 48px;">
                <img [src]="day.iconUrl" width="48" height="48" alt="Nubes y claros">
            </div>
            <div class="column">
                <span style="color: #2A65CB; padding: 5px;">{{day.min}}</span>
                <span>/</span>
                <span style="color: #CB2C2A; padding: 5px;">{{day.max}}</span>
            </div>
            <div class="div row" style="margin-top: 16px; position: relative;">
                <span style="color: #2A65CB;">{{day.precip}}</span>
                <span style="color: #1459d1; font-size: smaller; font-weight: bold;">{{day.precipMM}}</span>
            </div>
            
        </div>
        }
    </div>
    <mat-icon (click)="moverCards(1)">chevron_right</mat-icon>
</div>