<div class="body">
  <div class="container">
    <div class="login-box">
        <div class="login-left">
            <h2>Acceder a mi cuenta</h2>
            <div class="social-login">
                <mat-icon (click)="registerWithFacebook()" style="width: 30px; height: 30px; margin-right: 15px;" svgIcon="facebook" class="clickable-icon">facebook</mat-icon>
                <mat-icon (click)="registerWithFacebook()" style="width: 30px; height: 30px;" svgIcon="google" class="clickable-icon"></mat-icon>
             
              
            </div>
            <p>O acceder con:</p>
            <form  (ngSubmit)="login()" [formGroup]="formLogar">
                <mat-form-field>
                  <mat-label>Correo electrónico</mat-label>
                  <input
                    matInput
                    placeholder="pat@example.com"
                    [formControl]="email"
                    (blur)="updateErrorMessage()"
                    required
                  />
                  @if (email.invalid) {
                    <mat-error>{{errorMessageEmail()}}</mat-error>
                  }
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Contraseña</mat-label>
                  <input
                    matInput
                    type="password" 
                    [formControl]="password"
                    (blur)="updateErrorMessagePassword()"
                    required
                  />
                  @if (password.invalid) {
                    <mat-error>{{errorMessagepassword()}}</mat-error>
                  }
                </mat-form-field>
                <a href="#">Olvidaste tu contraseña?</a>
                <button type="submit" [disabled]="formLogar.invalid">ENTRAR</button>
            </form>
        </div>
        <div class="login-right">
            <h2>Bienvenido!</h2>
            <p>Crea su cuenta y comienza a navegar</p>
            <button (click)="btnInscrever()">REGISTRARME</button>
        </div>
    </div>
  </div>
</div>
