.body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('../../../assets/imagen/fondo.png') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  background-color: #e0e0e0; 
  background-position: center;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.login-box {
  background: rgba(255, 255, 255, 0.9);
  padding: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 100%;
  max-width: 900px;
  overflow: hidden;
  flex-direction: column;
}
.login-left, .login-right {
  flex: 1;
  padding: 40px;
}
.login-left {
  background: #fff;
}
.login-left h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}
.social-login {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.social-login a {
  margin: 0 10px;
  font-size: 24px;
  color: #333;
}
.social-login a:hover {
  color: #555;
}
.login-left form {
  display: flex;
  flex-direction: column;
}

.login-left a {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 20px;
}
.login-left a:hover {
  text-decoration: underline;
}
.login-left button {
  padding: 10px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-left button:hover {
  background: #555;
}
.login-right {
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-right h2 {
  margin-bottom: 20px;
  font-size: 24px;
}
.login-right p {
  margin-bottom: 20px;
}
.login-right button {
  padding: 10px 20px;
  background: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-right button:hover {
  background: #ddd;
}
@media (min-width: 768px) {
  .login-box {
      flex-direction: row;
  }
}
.clickable-icon {
  cursor: pointer; 
  transition: transform 0.2s ease; 
}

.clickable-icon:hover {
  transform: scale(1.1); 
  
}

.clickable-icon:active {
  transform: scale(0.95); 
  
}


Copy
.clickable-text {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.clickable-text:hover {
    color: darkblue;
}