<div class="body">
  <div class="container">
    <div class="login-box">
        <div class="login-left">
            <h2>Acceder a mi cuenta</h2>
            <div class="social-login">
              <button (click)="registerWithFacebook()"  mat-icon-button>
                <mat-icon class="fa-brands fa-facebook-f">facebook</mat-icon>
              </button>
              <button (click)="registerWithFacebook()"  mat-icon-button>
                <mat-icon svgIcon="google"></mat-icon>

              </button>
            </div>
            <p>O acceder con:</p>
            <form  (ngSubmit)="login()" [formGroup]="formLogar">
                <input type="email" placeholder="Correo electrónico" formControlName="username">
                <input type="password" placeholder="Contraseña" formControlName="password">
                <a href="#">Olvidaste tu contraseña?</a>
                <button type="submit">ENTRAR</button>
            </form>
        </div>
        <div class="login-right">
            <h2>Bienvenido!</h2>
            <p>Crea su cuenta y comienza a navegar</p>
            <button (click)="btnInscrever()">REGISTRARME</button>
        </div>
    </div>
  </div>
</div>
