.body{
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('../../../assets/imagen/fondo.png') no-repeat center center fixed;
  background-size: cover;

}
.container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
button{
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.recuperar-senha-card {
    max-width: 400px;
    padding: 2rem;
    
  }
  mat-dialog-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  mat-form-field {
    width: 100%;
 
  }

  .close-button{
    position: absolute;
    float: right;
    top:1px;
    right:2px;
  }
  
  .close-icon {
    transition: 1s ease-in-out;
  }
  
  .close-icon:hover {
    transform: rotate(180deg);
  }
  
  ::ng-deep .icon-outside .close-button{
    float: right;
    top:-52px;
    right:-52px;
  }
  
  ::ng-deep .icon-outside .mat-dialog-container {
   overflow: unset
  }
  