/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.tema-dark {
    background-color: #44475A;
  }


  .snackbar-success {
    background-color: #4caf50; /* Verde */
    color: white;
  }
  
  .snackbar-error {
    background-color: #f44336; /* Vermelho */
    color: white;
  }
  
  .snackbar-warning {
    background-color: #ff9800; /* Laranja */
    color: white;
  }